<p>
  <h3>FAQ 1</h3>
  Q:  Why is the site called Angel Mounds?
  A: The site is named for the Angel family who owned and farmed a large portion of the site in the 19th century. In 1938, Mr. Eli Lilly purchased the land and donated it to the State of Indiana to preserve the mounds.
</p>

<p>
  <h3>FAQ 2</h3>
  Q:  What tribes lived at the site?   
  A:  The residents of Angel Mounds were the ancestors to tribes known today, although it is difficult to precisely identify which ones. They may have spoken a language ancestral to those spoken by several tribes of the Mississippi valley. In the 18th to 19th centuries, Shawnee, Miami, Potawatomi, Wea, Delaware and members of many other tribes moved through the region and used the areas around Angel Mounds.
</p>

<p>
  <h3>FAQ 3</h3>
  Q:  Can the public visit Angel Mounds?  
  A:  Yes, Angel Mounds is an Indiana State Historic Site and is open to the public. Facilities at the site include an interpretive center interpretive center, recreations of Mississippian buildings and a working reconstruction of the 1939 WPA archaeology laboratory. The 500-acre non-archaeological portion of the site contains a nature preserve with hiking and biking trails. For more information, visit: http://www.indianamuseum.org/explore/angel-mounds
</p>

<p>
  <h3>FAQ 4</h3>
  Q: When was the site excavated? 
  A: Starting in 1939, under the direction of Glenn A. Black, a crew of 277 Works Progress Administration (WPA) workers began excavating the site, recovering over 2.5 million artifacts. Indiana University’s Glenn Black Laboratory of Archaeology has since conducted a number of field school excavations at the site and continues to curate and research the Angel Mounds artifact collections. 
</p>

<p>
  <h3>FAQ 5</h3>
  Q: When and why did the Mississippian people leave Angel Mounds? 
  A: The site was abandoned before European explorers came to North America. Possible explanations for abandonment are depletion of natural resources, climatic changes including prolonged drought,  or the collapse of the chiefdom.
</p>
