.drab {
  position: relative;
}

.drabLabel {
  font-family: "BentonSansCondBold";
  font-size: 3.5em;
  text-align: center;
  word-wrap: normal;
  /*	 text-shadow: 0px 5px black;*/
}

.drabPane {
  position: absolute;
  left: 1100px;
  bottom: 250px;
  width: 1600px;
  height: 1010px;
  overflow: hidden;
  font-size: 3em;
  /*z-index: 9007199254740991;  Number.MAX_SAFE_INTEGER */
  opacity: .97;
  touch-action: none;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 40px;
  color: #fff;
  background: #333;
}

.itemIframe {
  width: 100%;
  opacity: .97;
  height: 1000px;
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  overflow: hidden;
  touch-action: none;
}



/*********** Animations ****************/

.highlight {
  transition: 0.3s linear all;
  color: black;
  background: #474747;
  color: #d9d9d9;
  border: 1px solid #474747;
  border-radius: 5em;
}

.highlight.on-add {
  background: white;
  color: black;
}

.highlight.on {
  background: #333;
  color: #d9d9d9;
  border: 1px solid #333;
}

.highlight.on-remove {
  /*  background:black;*/
}

.fade.ng-enter {
  transition: .5s linear all;
  opacity: 0;
}


/* The finishing CSS styles for the enter animation */

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.indiana {
  float: right;
  max-height: 20%;
  max-width: 20%;
}

.map {
  border: solid 10px #272727;
  float: left;
  margin: 10px;
  max-width: 63%;
  max-height: 63%;
}

.frame {
  width: 100%;
  height: 850px;
}

.title-bar {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 100;
}

.page-left {
  position: relative;
  width: 60%;
  padding-left: 0%;
  background: #333;
  float: left;
}

.page-center {
  padding-left: 0%;
  position: relative;
  width: 40%;
  /*outline: 5px solid #ecf0f1;
  background: #ecf0f1;
  color: #97a8b2;*/
  float: left;
}

.page-right {
  position: relative;
  width: 40%;
  float: right;
}


/* Inner page content */

.page-inner {
  padding: 2em;
}

.page-inner section {
  padding-bottom: 1em;
}

.right {
  float: right;
}

.left {
  float: left;
}

.rightTitle {
  padding-top: 2.5%;
  padding-right: 20%;
  float: right;
}

.leftTitle {
  padding-top: 2.5%;
  padding-left: 20%;
  float: left;
}

.clear {
  clear: both;
}

.header {
  font-family: "BentonSansCondBold";
  margin: 0;
  font-weight: 300;
  font-size: 1em;
}

.paragraph {
  margin-top: .8em;
  margin-left:2%;
  line-height: 145%;
  font-weight: 300;
  font-size: 0.45em;
  text-align: justify;
  font-family: "BentonSansCondRegular";
}


.ac-container{
	width: 100%;
	height:100%;
	margin: 10px auto 30px auto;
	text-align: left;
	background:pink;
}
.ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 1.6em 0em 0em .6em;
	position: relative;
	z-index: 20;
	display: block;
	height: 3em;
	cursor: pointer;
	color: white;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
	line-height: 1.5em;
	font-size: .56em;
	background: #474747;
	  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
  box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);

  /*
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
  */
/*	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		1px 0px 0px 0px rgba(255,255,255,0.9) inset,
		0px 2px 2px rgba(0,0,0,0.1);
*/
}
.ac-container label:hover{
	background: #333;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #474747;
	color: white;
	/*text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);*/

  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
  box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: #5b5b5b;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: white;
	line-height: 1.4em;
	font-size: .4em;
	padding: .5em;
/*	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{

	height: 230px;

  -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
  box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.48);
}
