<div ng-class="{ on: dc.active }"
	 class="drab highlight shadow-site-button"
	 hm-tap="dc.activate"
	 hm-recognizer-options='{"preventDefault":true}'>
  <h1 class="drabLabel">{{dc.config.label}}</h1>
  </div>
  <div ng-if="dc.active"
	   class="drabPane fade shadow-site-button"
	   ng-style="{ 'z-index': dc.zInit }"
	   hm-tap="dc.touchThis"
	   hm-recognizer-options='{"stopPropagation":true}'>
	<div class="title-bar">
	  <h2 class="leftTitle header">ABOUT ANGEL MOUNDS</h2>
	  <h2 class="rightTitle header">FAQ</h2>
	</div>
	<div class="page-left">
	  <section class="left">
		<img class="indiana" src="assets/images/Indiana-Map-dark.jpg"></img>
		<p class="paragraph">
		  Located on the banks of the Ohio River in southwest Indiana, Angel Mounds State Historic Site is one of the best-preserved Mississippian sites in North America. The site was built and occupied between A.D. 1050 and 1400, and would have supported several thousand residents. Mississippian is a term archaeologists use to describe the people who settled along major waterways in the Midwest and Southeast United States during this time. They shared similar cultural items and traits, and they often built large earthen mounds as platforms to elevate important buildings.
		</p>
		<p class="paragraph">

		  The original Angel site included 11 earthen mounds and covered an area of 103 acres. More than a mile of defensive walls known as palisades once extended around the site. Houses were distributed within neighborhoods and were most abundant in the</p>
		  <img class="map" src="assets/images/MississippianSitesMap-dark.jpg"></img>
		  <p class="paragraph">
		  eastern half of the village. Houses were often placed in association with plazas,
		  which are open spaces that may have had ceremonial significance. Angel Mounds operated as a chiefdom, and would have served as an important religious, political, and trade center for people living within the region.
		</p>
		<p class="paragraph">
This interactive exhibit allows you to explore the Angel Mounds site. Discover more images and information about the lifeways of the Mississippian people who lived here by clicking on the colored icons placed around the screen.
		</p>

	  </section>
	</div>
	<div class="page-right">
		<div class="container">

			<section class="ac-container"
			 ng-click="$event.stopPropagation()">

				<div
					hm-tap="dc.check()"
					hm-recognizer-options='{"preventDefault":true}'>
					<input id="ac-1" name="accordion-1" type="radio"/>
				 <label for="ac-1">Q: Why is the site called Angel Mounds?</label>
					<article class="ac-large">
						<p>A: The site is named for the Angel family who owned and farmed a large portion of the site in the 19th century. In 1938, Mr. Eli Lilly purchased the land and donated it to the State of Indiana to preserve the mounds.</p>
					</article>
				</div>
				<div
					hm-tap="dc.check()"
					hm-recognizer-options='{"preventDefault":true}'>
					<input id="ac-2" name="accordion-1" type="radio" />
					<label for="ac-2">Q: What tribes lived at the site? </label>
					<article class="ac-large">
						<p> A: The residents of Angel Mounds were the ancestors to tribes known today, although it is difficult to precisely identify which ones. They may have spoken a language ancestral to those spoken by several tribes of the Mississippi valley. In the 18th to 19th centuries, Shawnee, Miami, Potawatomi, Wea, Delaware and members of many other tribes moved through the region and used the areas around Angel Mounds.</p>
					</article>
				</div>
				<div
					hm-tap="dc.check()"
					hm-recognizer-options='{"preventDefault":true}'>
					<input id="ac-3" name="accordion-1" type="radio" />
					<label for="ac-3">Q: Can the public visit Angel Mounds?</label>
					<article class="ac-large">
						<p>Yes, Angel Mounds is an Indiana State Historic Site and is open to the public. Facilities at the site include an interpretive center, recreations of Mississippian buildings and a working reconstruction of the 1939 WPA archaeology laboratory. The 500-acre non-archaeological portion of the site contains a nature preserve with hiking and biking trails. For more information, visit: http://www.indianamuseum.org/explore/angel-mounds.</p>
					</article>
				</div>
				<div
					hm-tap="dc.check()"
					hm-recognizer-options='{"preventDefault":true}'>
					<input id="ac-4" name="accordion-1" type="radio" />
					<label for="ac-4">Q: When was the site excavated?</label>
					<article class="ac-large">
						<p> A: Starting in 1939, under the direction of Glenn A. Black, a crew of 277 Works Progress Administration (WPA) workers began excavating the site, recovering over 2.5 million artifacts. Indiana University's Glenn Black Laboratory of Archaeology has since conducted a number of field school excavations at the site and continues to curate and research the Angel Mounds artifact collections. </p>
					</article>
				</div>
				<div
					hm-tap="dc.check()"
					hm-recognizer-options='{"preventDefault":true}'>
					<input id="ac-5" name="accordion-1" type="radio" />
					<label for="ac-5">Q: When and why did the Mississippian people leave Angel Mounds?</label>
					<article class="ac-large">
						<p>A: The site was abandoned before European explorers came to North America. Possible explanations for abandonment are depletion of natural resources, climatic changes including prolonged drought, or the collapse of the chiefdom. </p>
					</article>
				</div>
			</section>
		</div>
	</div>
  </div>



