<div
	  ng-class="{ on: dc.active }"
	  class="drab highlight"
	 hm-tap="dc.activate"
	 hm-recognizer-options='{"preventDefault":true}'
	 >
		<h1 class="drabLabel">{{dc.config.label}}</h1>
		<iframe
			ng-if="dc.active"
			hm-tap=""
			hm-recognizer-options='{"stopPropagation":true}'
			class="drabPane fade"
			ng-src="{{dc.config.template | trusted}}"
			frameborder="no"
			>
		</iframe>
</div>

<!--	 <img src="../../../assets/icons/ic_help_black_24dp.png"/ style="color:white;">-->
<!--				ng-click="$event.stopPropagation()"-->
