<ul>
  <li analytics-on="click"
      analytics-label="{{site.logo}}"
      style="left: {{site.x}}px; top: {{site.y}}px;"
      ng-repeat="site in sites"
      ng-click="active = !active"
      ng-class="active ? 'site on' : 'site'"
      class="shadow-1">
    <img ng-src="assets/images/{{site.logo}}" />

    <ul ng-if="active"
        ng-controller="SitesController"
        class ="items"
        style="opacity:1; transition:.2s;">
      <li analytics-on="click"
          analytics-label="{{item.url}}"
          class="item"
          ng-class="grabbed ? 'shadow-2' : 'shadow-1'"
          ng-controller="MediaController"
          style="transform: translate({{transform.translate.x}}px, {{transform.translate.y}}px)
                 rotate({{transform.angle - 90}}deg)
                 scale({{transform.scale}});
                 z-index: {{grabbed ? 1 : auto}}"
          ng-repeat="item in filteredMedia"
          ng-click="$event.stopPropagation();"
          hm-panstart="grabThis"
          hm-pinchstart="grabThis"
          hm-rotatestart="grabThis"
          hm-panmove="touchThis"
          hm-pinchmove="touchThis"
          hm-rotatemove="touchThis"
          hm-panend="cantTouchThis"
          hm-pinchend="cantTouchThis"
          hm-rotateend="cantTouchThis">
        <div ng-switch on="item.type">
          <img ng-switch-when="img" ng-src="assets/images/{{item.url}}" ondragstart="return false"/>
          <div ng-switch-when="iframe">
            <h1>{{item.title}}</h1>
            <iframe ng-src="{{item.url | trusted}}" frameborder="no"></iframe>
          </div>
        </div>
      </li>
    </ul>
  </li>
</ul>




<!-- Random Bits
////
ng-class="variableToEvaluate ? 'class-if-true' : 'class-if-false'"
ng-class="active ? 'siteOn' : 'siteOff"
////
////
ng-class="{'classtoadd': True}
ng-class="{'siteOn': active}"
////

ng-animate="'item'"
-->
