.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  position: absolute;
  list-style: none;
  left: 0px;
  top: 0px;
}

li {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0px;
  top: 0px;

}

.site {
  background: steelblue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 15px;
  transition: .3s;
}

.site.on {
  background: gold;
  border-radius: 0%;
  transition: .15s;
}

.items {
  background: gray;
  width: 100px;
  height: 100px;
  padding: 15px;
}

.items.ng-enter {
  transform:scale(0.2,0.2) translate(0px,0px) !important;
  opacity: 0 !important;
}

.items.ng-enter.ng-enter-active {
    opacity: 1;

}
.items.ng-leave {
  opacity: 1;

}
.items.ng-leave.ng-leave-active{
  transform: scale(0.2,0.2) translate(0px,0px) !important;
  opacity: 0 !important;
}

