<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Vertical Sliding Accordion with jQuery</title>
		<meta charset="UTF-8" />
		<meta name="viewport"
		  content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<noscript>
		<link rel="stylesheet" type="text/css" href="css/styleNoJS.css" />
		</noscript>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&v2' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container" style="margin:0px;">
			<div id="va-accordion" class="va-container" style="margin-top:0px;">
				<div class="va-nav">
					<span class="va-nav-prev" style="top:10px;">Previous</span>
					<span class="va-nav-next" style="bottom:10px;">Next</span>
				</div>
				<div class="va-wrapper">
					<div class="va-slice va-slice-color-1">
						<h3 class="va-title">Q: Why is the site called Angel Mounds?</h3>
						<div class="va-content">
			  <p>
			   A: The site is named for the Angel family who owned and farmed a large portion of the site in the 19th century. In 1938, Mr. Eli Lilly purchased the land and donated it to the State of Indiana to preserve the mounds.
			  </p>
						</div>
					</div>
					<div class="va-slice va-slice-color-2">
						<h3 class="va-title"> Q: What tribes lived at the site? </h3>
						<div class="va-content">
							<p> A: The residents of Angel Mounds were the ancestors to tribes known today, although it is difficult to precisely identify which ones. They may have spoken a language ancestral to those spoken by several tribes of the Mississippi valley. In the 18th to 19th centuries, Shawnee, Miami, Potawatomi, Wea, Delaware and members of many other tribes moved through the region and used the areas around Angel Mounds.</p>

						</div>
					</div>
					<div class="va-slice va-slice-color-3">
						<h3 class="va-title">Q: Can the public visit Angel Mounds?</h3>
						<div class="va-content">
							<p>Yes, Angel Mounds is an Indiana State Historic Site and is open to the public. Facilities at the site include an interpretive center, recreations of Mississippian buildings and a working reconstruction of the 1939 WPA archaeology laboratory. The 500-acre non-archaeological portion of the site contains a nature preserve with hiking and biking trails. For more information, visit: http://www.indianamuseum.org/explore/angel-mounds.</p>
						</div>
					</div>
					<div class="va-slice va-slice-color-4">
						<h3 class="va-title"> Q: When was the site excavated?</h3>
						<div class="va-content">
							<p> A: Starting in 1939, under the direction of Glenn A. Black, a crew of 277 Works Progress Administration (WPA) workers began excavating the site, recovering over 2.5 million artifacts. Indiana University's Glenn Black Laboratory of Archaeology has since conducted a number of field school excavations at the site and continues to curate and research the Angel Mounds artifact collections.</p>
						</div>
					</div>
					<div class="va-slice va-slice-color-5">
						<h3 class="va-title"> Q: When and why did the Mississippian people leave Angel Mounds?</h3>
						<div class="va-content">
							<p> A: The site was abandoned before European explorers came to North America. Possible explanations for abandonment are depletion of natural resources, climatic changes including prolonged drought, or the collapse of the chiefdom. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="js/jquery.vaccordion.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#va-accordion').vaccordion({
					accordionW		: $(window).width(),
					accordionH		: $(window).height(),
					visibleSlices	: 5,
					expandedHeight	: ($(window).height()*.5),
					animOpacity		: 0.6,
					contentAnimSpeed: 100
				});

		var titles = Array();
		$('.va-title').each(function(i,obj){
		  titles.push($(this));
		});
			});
		</script>
	</body>
</html>
