<li class="item"
	hm-tap="item.touchThis"
	hm-panstart="item.touchThis"
	hm-pinchstart="item.touchThis"
	hm-rotatestart="item.touchThis"
	hm-panmove="item.manipulateThis"
	hm-pinchmove="item.manipulateThis"
	hm-rotatemove="item.manipulateThis"
	hm-panend="item.cantTouchThis"
	hm-pinchend="item.cantTouchThis"
	hm-rotateend="item.cantTouchThis"
	hm-recognizer-options='[
	  {"type":"tap","pointers":1},
	  {"type":"pan","pointers":0}
	]'
	analytics-on="click"
	analytics-label="{{item.thing.url}}">
  <div id="card" layout="column">
	<div ng-switch on="item.thing.type">

		<img ng-switch-when="img"
			 class="itemImg"
			 ng-src="assets/images/{{item.thing.url}}"
			 ondragstart="return false"  />
		<iframe ng-switch-when="iframe"
				class="itemIframe"
				ng-src="{{item.thing.url | trusted}}"
				frameborder="no"></iframe>
		<div ng-switch-when="video" ng-click="console.log('lkjlkj')">
		  <videogular>
			<vg-media vg-src="item.sources"></vg-media>
			<vg-controls>
			  <vg-play-pause-button></vg-play-pause-button>
			  <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
			  <vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			  </vg-scrub-bar>
			  <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
			</vg-controls>
			<vg-overlay-play></vg-overlay-play>
		  </videogular>
		</div>
		<div ng-switch-when="html"
			 ng-class="item.thing.category === 'FAQ' ? 'itemHtmlFaq' : 'itemHtml'">
		  <div ng-include="'assets/templates/' + item.thing.url"></div>
		</div>
   </div>

<div class="buffer" style="height:359px;" ></div>
   <div id="card-footer"
		style=" solid #c3c3c3; z-index:15;" >
	 <div id ="item{{$index}}"
		 style="width: 100%"
		 class="slideable" duration=".3s">
	   <div layout = "row">
		 <h1 class="titleFont" layout-style="center center">
		 {{item.thing.title}}
		 </h1>
		 <ng-md-icon icon="{{clickIcon}}"
					 size="100%"
					 options='{"duration": 400, "rotation": "none", "easing":"sine-in-out"}'
					 hm-tap="clickIconMorph"
					 hm-recognizer-options='{"preventDefault":true}'

					 slide-toggle="#item{{$index}}"
					 ng-if="item.thing.description != 'null'"></ng-md-icon>
		 <div ng-style="{'background-color': item.hub.color , height:100+'%', width:100+'%', left:0+'px', 'z-index':-2, position:'absolute'}">
			 <div class="titlebox">
				<img class ="imgSize" ng-src="{{'assets/images/'+item.hub.logo}}"></img>
			</div>
		 </div>

<!--		   <div class="titlebox" ng-style="{'background-color': item.hub.color}"></div>-->
	   </div>
	   <div class="descbox" layout ="column">
		 <p class="description">{{item.thing.description}}</p>
		 <p class="attribution">{{item.thing.attribution}}</p>
	   </div>
	 </div>
   </div>
  </div>
</li>
