md-card {
  position: absolute;
}

.item {
  padding: 0px;
  width: 1980px;
  position: absolute;
}

#card {
  background-color:white;
  width: 100%;
}

.itemImg {
 width: 100%;
}

.itemHtml {
  font-size: 4em;
  height: 1920px;
}

.itemHtmlFaq {
  font-size: 4em;
  height: 960px;
}
