md-card {
  position: absolute;
}

.item {
  padding: 0px;
  width: 1980px;
  position: absolute;
}

#card {
  background-color: white;
  width: 100%;
}

.itemImg {
  width: 100%;
}

.itemHtml {
  font-size: 4em;
  height: 1920px;
}

.itemHtmlFaq {
  font-size: 4em;
  height: 960px;
}

.titlebox {
  opacity: .2;
  position: relative;
  height: 100%;
  width: 100%;
/*  left: -100px;*/
  z-index: -1;
}
.imgSize{
	 position:absolute;
	left:-100px;
	 top:-170px;
	 width:700px;
	 height:700px;
}

.titleFont {
  font-size: 9em;
  color: white;
  text-shadow: 0px 8px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.descbox {
  box-shadow: inset 0 6px 20px 0 rgba(0, 0, 0, 0.19), inset 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 100%;
  padding: 0em 1em 100%;
}

.description {
  font-size: 5em;
  text-align: justify;
}

.attribution {
  font-size: 3em;
  font-style: italic;
}
