<h3>
  Q:  Can the public visit Angel Mounds?
</h3>
<p>
  Yes, Angel Mounds is an Indiana State Historic Site and is open to the public. Facilities at the site include an interpretive center interpretive center, recreations of Mississippian buildings and a working reconstruction of the 1939 WPA archaeology laboratory. The 500-acre non-archaeological portion of the site contains a nature preserve with hiking and biking trails. For more information, visit: http://www.indianamuseum.org/explore/angel-mounds.
</p>
  